<div class="post bg-white my-1 p-1">
    <div>
      <a href="profile.html">
        <img class="round-img" src="{{ post.author.profile_picture.url }}" alt="" />
        <h4>{{ post.author.username }}</h4>
      </a>
    </div>
    <div>
      {{ post.title }}
      <p class="my-1">{{ post.body }}</p>
      <span>{{ post.date|timesince }}</span>
      <button class="btn">
        <i class="fas fa-thumbs-up"></i> <span>4</span>
      </button>
      <button class="btn">
        <i class="fas fa-thumbs-down"></i>
      </button>
      <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Discussion</a>
    </div>
  </div>