<div class="post bg-white my-1 p-1">
    <div>
      <a href="profile.html">
        <img class="round-img" src="{{ post.author.profile_picture.url }}" alt="" />
        <h4>{{ post.author.username }}</h4>
      </a>
    </div>
    <div>
      {{ post.title }}
      <p class="my-1">{{ post.body }}</p>
      <span>{{ post.date|timesince }}
  
        <a href="{% url 'profile_list' %}?post_id={{post.id}}">
          {{ post.like_count }}
          person likes this post
        </a>
        </span>
      <button class="btn like-btn {% if post.is_liked %} btn-active {% endif %}" href="{% url 'like_post' post_id=post.id %}">
        <i class="fas fa-thumbs-up"></i> <span>{{post.like_count}}</span>
      </button>
      <button class="btn">
        <i class="fas fa-thumbs-down">{{post.dislike_count}}</i>
      </button>
      <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Discussion</a>
    </div>
  </div>