{% extends 'base.html' %}
{% load static %}

{% block title %}
{{post.title}}
{% endblock title %}

{% block content %}
  <section class="container">
    <a href="posts.html" class="btn">Back To Posts</a>
    <div class="post bg-white p-1 my-1">
      <div>
        <a href="profile.html">
          <img class="round-img" src="{{ post.author.profile_picture.url }}" alt="" />
          <h4>{{ post.author.username }}</h4>
        </a>
      </div>
      <div>
        <p class="my-1">{{ post.body }}</p>
        {{ post.date|timesince }}
      </div>
    </div>
    <div class="post-form">
      <div class="post-form-header bg-primary">
        <h3>Leave A Comment</h3>
      </div>
      <form class="form my-1" method="post">
        {% csrf_token %}

        <textarea name="body" cols="30" rows="5" placeholder="Comment on this post" ></textarea>
        <input type="submit" class="btn btn-dark my-1" value="Submit" />
      </form>
    </div>
    <div class="posts">
      {% for comment in post.comment_set.all %}
        <div class="post bg-white p-1 my-1">
          <div>
            <a href="profile.html">
              <img class="round-img" src="{{ comment.author.profile_picture.url }}" alt="" />
              <h4>{{ comment.author.username }}</h4>
            </a>
          </div>
          <div>
            <p class="my-1">{{ comment.body }}</p>
            {{ comment.date|timesince }}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
