{% extends 'base.html' %}
{% load static %}

{% block title %}
Feeds
{% endblock title %}

{% block content %}
<section class="container">
  <h1 class="large text-primary">Posts</h1>
  <p class="lead">
    <i class="fas fa-user"></i> Welcome to the community
  </p>
  <div class="post-form">
    <div class="post-form-header bg-primary">
      <h3>Say Something...</h3>
    </div>
    <form class="form my-1" action="{% url 'post_list' %}" method="post">
      {% csrf_token %}
      <input type="text" name="new_post_title"  placeholder="new post title">
      <textarea cols="30" rows="5" placeholder="new post body" name="new_post_body"></textarea>
      <input type="submit" value="Submit" class="btn btn-dark my-1" />
    </form>
    <div class="posts">
      {% for p in posts %}
        {% include 'socialnetwork/_post.html' with post=p %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
