{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="landing">
      <div class="dark-overlay">
        <div class="landing-inner">
          <h1 class="x-large">logged out</h1>
          <p class="lead">
            your logged out successfully!
          </p>
          <div class="buttons">
            <a href="{% url 'register' %}" class="btn btn-primary">Sign Up</a>
            <a href="{% url 'login' %}" class="btn btn">Login</a>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}