{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="container">
      <a href="{% url 'profile_list' %}" class="btn">Back To Profiles</a>

      <div class="profile-grid my-1">
        <!-- Top -->
        <div class="profile-top bg-primary p-2">
          <img
            class="round-img my-1"
            src="{{ profile.profile_picture.url}}"
            alt=""
          />

          <h1 class="large">{{profile.user.get_full_name}}</h1>
          <p class="lead">{{profile.get_professional_status_display}} at {{profile.company}}</p>
          <p>{{profile.location}}</p>
          <div class="icons my-1">
            {% if profile.website %}
            <a href="{{profile.website}}">
              <i class="fas fa-globe fa-2x"></i>
            </a>
            {% endif %}
            {% if profile.twitter %}
            <a href="{{profile.twitter}}">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
            {% endif %}
            {% if profile.facebook %}
            <a href="{{profile.facebook}}">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            {% endif %}
            {% if profile.linkedin %}
            <a href="{{profile.linkedin}}">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
            {% endif %}
            {% if profile.instagram %}
            <a href="{{profile.instagram}}">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
            {% endif %}
          </div>
        </div>
        <!-- About -->
        <div class="profile-about bg-light p-2">
          <h2 class="text-primary">{{profile.user.first_name}}'s Bio</h2>
          <p>
            {{profile.bio}}
          </p>
          <div class="line"></div>
          <h2 class="text-primary">Skill Set</h2>
          <div class="skills">
            {% for skill in profile.skill.all %}
            
            <div class="p-1"><i class="fas fa-check"></i> {{skill.name}}</div>
            {% endfor %}
          </div>
        </div>
        <!-- Experience -->
        <div class="profile-exp bg-white p-2">
          <h2 class="text-primary">Experiences</h2>
          {% for experience in profile.experience_set.all  %}
          <div>
            <h3>{{experience.company}}</h3>
            <p>{{experience.start}} - 
              {% if experience.is_continue %}
              Current
              {% else %}
              {{experience.end}}
              {% endif %} </p>
            <p><strong>Position: </strong>{{experience.position}}</p>
            <p>
              <strong>Description: </strong>{{experience.description}}
            </p>
          </div>
          
          {% endfor %}
          
        </div>
        <!-- Education -->
        <div class="profile-edu bg-white p-2">
          <h2 class="text-primary">Education</h2>
          <div>
            {% for education in profile.education_set.all %}
            <h3>{{education.university}}</h3>
            <p>{{education.start}} -  
              {% if education.is_continue %}
                Current
              {% else %}
              {{education.end}}
              {% endif %}</p>
            <p><strong>Degree: </strong> {{education.degree}}</p>
            <p><strong>Field Of Study: </strong> {{education.field_of_study}}</p>
            <p>
              <strong>Description: </strong>{{education.description}}
            </p>
            
            {% endfor %}
          </div>
        </div>
        <!-- Github Repos -->
        <div class="profile-github">
          <h2 class="text-primary my-1">
            <i class="fab fa-github"></i> Github Repos 
            <a  class="badge badge-primary" href={% url 'update_github' %}>refresh repos</a>
            {% comment %} class="badge badge-primary" class="fab fa-github" {% endcomment %}
          </h2>
          {% for repo in profile.githubrepos_set.all %}
          
          
          <div class="repo bg-white my-1 p-1">
            <div>
              <h4><a href="#">{{repo.title}}</a></h4>
              <p>
                {{repo.description}}
              </p>
            </div>

            <div>
              <ul>
                <li class="badge badge-primary">Stars: {{repo.Stars}}</li>
                <li class="badge badge-dark">Watchers: {{repo.Watchers}}</li>
                <li class="badge badge-light">Forks: {{repo.Forks}}</li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% endblock content %}
